<!DOCTYPE html>
<html>

<head>
  <title>Study Hub</title>
  <link rel="stylesheet" type="text/css" href="../style.css">

</head>
<header>
  <% include ./partials/header %>
</header>

<body>
    
</body>