<!DOCTYPE html>
<html>
<head>
  <title>Schoolwork Hub</title>
  <link rel="stylesheet" type="text/css" href="../style.css">

</head>
<header>
  <% include ./partials/header %>
</header>

<body>
  <div class="container-fluid">
    <h1 style="text-align: center; font-size: 50px;">Welcome!</h1>
    <p id="homepage-info-text">Schoolwork Hub is the place to be when you are studying, doing homework, or simply need help. We
       have 24/7 chatbots roaming in the wilderness if you need them. If you would like to get help from
       a human volunteer, that is also an option. 100% free. No credit card. No questions.

<script src="../js/index.js"></script>

</html>