<% if (req.query.message && typeof req.query.message == 'string') {
      req.query.message.split(',').forEach(text=>{
      text = text.split('+').join(' ');
    %>
    <div class='message'>
      <%= text %>
    </div>
  <%});
} %>
